[user]
	name = Clayton O'Neill
	email = claytono@github.com
	signingKey = clayton@oneill.net

[commit]
	gpgSign = true

[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto

[alias]
	lg = log --oneline --graph --all --decorate --abbrev-commit

[core]
	# Exclude everything this file. Used for general exclusions.
	excludesfile = ~/.gitignore

[branch]
	autosetuprebase = always
[log]
	decorate = true
        mailmap = true

[hub]
protocol = https

