{
  :tos {
    left_command_hold_down { :key left_command :hold_down_ms 100 }
  }

  :main [
    ;; !  | means mandatory -   modifier(s) alone when pressend change behavior
    ;; #  | means optional  -   modifiers are optional (but atleast one necessary)

    ;; :!Ca is keycode :a and prefix a with !C

    ;; C  | left_command
    ;; T  | left_control
    ;; O  | left_option
    ;; S  | left_shift
    ;; F  | fn
    ;; Q  | right_command
    ;; W  | right_control
    ;; E  | right_option
    ;; R  | right_shift

    ;; ## | optional any (this has no effect when used on the RHS; only LHS)
    ;; !! | command + control + optional + shift (hyper)

    ;; to understand better how modifiers work in karabiner
    ;; karabiner definition of mandatory and optional
    ;; https://karabiner-elements.pqrs.org/docs/json/complex-modifications-manipulator-definition/from/modifiers/


    ;; need to prefix C T O S F with ! or #
    ;;
    ;; code for all this:
    ;; https://github.com/yqrashawn/GokuRakuJoudo/blob/b9b334a187379f9bc8182ad59e2cca2a1789e9c0/src/karabiner_configurator/keys.clj#L68

    {:des "Left control to Hyper"
     :rules [[:##left_control :!CTOleft_shift]]
    }

    {:des "Fn to Hyper"
     :rules [[:##fn :!CTOleft_shift]]
    }

    {:des "Caps-Lock to control if held, escape if tapped"
     :rules [[:##caps_lock :left_control nil {:alone :escape}]]
    }

    {:des "Right option to fn"
     :rules [[:##right_option :!Fn]]
    }


 ]
}
